<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> nueva cita </h1>
    <form method="post" action="">
        <p>Fecha: <input type="text" name="fecha" > </p>
        <p>Paciente_id: <input type="text" name="paciente_id"> </p>
        <p>Medico_id: <input type="text" name="medico_id"></p>
        <p>Consultorio_id: <input type="text" name="consultorio_id"></p>
        <p>Valor: <input type="text" name="valor"></p>
        
        <button>guardar</button>
    </form>
</body>
</html>