<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Detalle de cita</h1>
    <ul>
        <li> fecha: {{ cita.fecha }} </li>
        <li> paciente_id: {{ cita.paciente_id }} </li>
        <li> medico_id: {{ cita.medico_id }}</li>
        <li> consultorio_id: {{ cita.consultorio_id }} </li>
        <li> valor: {{ cita.valor }} </li>
       
    </ul>
</body>
</html>