<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Actualizar Consultorios </h1>
   
    <form method="post" action="/consultorios/update/{{consultorio.id}}">
        
        <p>
            Numero:
            <select name="nu">
                {% for numero in numeros %}
                    
                        <option
                        {% if consultorio_update.numero == numero %}
                            select
                        {% endif %}
                        
                        > 
                        
                        {{ numero }} </option>
                {% endfor %}
            </select>
        </p>

        <button>Actualizar</button>
    </form>
</body>
</html>