<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> nuevo paciente </h1>
    <form method="post" action="">
        <p>Nombre: <input type="text" name="nombre" > </p>
        <p>Apellidos: <input type="text" name="apellidos" > </p>
        <p>Tipo identificacion: 
            <select name="ti" >
                <option>TI</option>
                <option>CC</option>
            </select>
        </p>
        <P> Numero Identificacion:
            <input type="text" name="ni">
        </P>
        <p> Altura:
            <input type="text" name="al">
        </p>
        <p>
            Tipo Sangre:
            <select name="ts">
                {% for tipo_sangre in tipo_sangres %}
                    <option> {{ tipo_sangre }} </option>
                {% endfor %}
            </select>
        </p>

        <button>guardar</button>
    </form>
</body>
</html>