<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Actualizar Paciente </h1>
   
    <form method="post" action="/pacientes/update/{{paciente_update.id}}">
        <p>Nombre: <input type="text"
                        name="nombres" 
                        value="{{ paciente_update.nombres }}" > 
            </p>
        <p>Apellidos: <input type="text"
             name="apellidos"
             value= "{{ paciente_update.apellidos }}" > </p>
        <p>Tipo identificacion: 
            <select name="ti" >
                <option 
                    {% if paciente_update.tipo_identificacion == "TI" %}    
                        selected 
                    {% endif %}
                >
                    TI
                </option>
                <option
                    {% if paciente_update.tipo_identificacion == "CC" %}    
                        selected 
                    {% endif %}
                
                >
                    CC
                </option>
            </select>
        </p>
        <P> Numero Identificacion:
            <input type="text"
             name="ni" 
             value= "{{ paciente_update.numero_identificacion }}">
             
        </P>
        <p> Altura:
            <input type="text" 
            name="al"
            value= "{{ paciente_update.altura }}">
        </p>
        <p>
            Tipo_sangre:
            <select name="ts">
                {% for tipo_sangre in tipo_sangre %}
                    
                        <option
                        {% if paciente_update.tipo_sangre == tipo_sangre %}
                            select
                        {% endif %}
                        
                        > 
                        
                        {{ tipo_sangre }} </option>
                {% endfor %}
            </select>
        </p>

        <button>Actualizar</button>
    </form>
</body>
</html>